<header>
    <nav>
        <a href="/">CRMTool</a>
        <ul>
            <li><a href="/customers">Customers</a>></li>>
            <li><a href="/customers/new">Add Customers</a>></li>>
        </ul>>
    </nav>>
</header>>
