<head>
    <meta charset="UTF-8">
    <title>3200Implementation</title>
</head>
<body>
<form action="/logout?_method=DELETE" method="POST">
    <div class = "form">
        <h1><font face = "Candara Light" size = "6">
                Welcome <%= name %>, This is your CRM Tool
            </font><br /></h1>
        <button type="submit">Log out</button>
    </div>
</form>
</body>
